@import "tailwindcss";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

@theme {
	--font-oswald: "Oswald", "sans-serif";
}

:root {
	--core-color: hsl(45, 100%, 50%);
	--bot-color: hsl(199, 80%, 60%);
}
