# Compiled code
dist

# Unfinished stuff
NOTES.md
TODO.md
.cursor

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
lcov.info

# Runtime data
pids
*.pid
*.seed
*.db
*.tmp
*.crt

# Dependency directories
node_modules
message_template.msg

# NPM stuff
.npm
package-lock.json
*.tgz

# REPL history
.node_repl_history

# macOS related
.DS_Store
