# Compiled code
dist

# Unfinished stuff
NOTES.md

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.db

# Dependency directories
node_modules

# NPM stuff
.npm
package-lock.json
*.tgz

# REPL history
.node_repl_history

# macOS related
.DS_Store
